<div class="container mt-5">
  <div *ngIf="message" class="alert alert-{{message.type}} text-center">
    {{ message.text }}
  </div>

  <div class="card p-4">
    <h1 class="text-center mb-4" style="color: #9952d6;">QuickPick Notes</h1>
    <p class="text-center text-muted"><span style="font-weight: bold;font-style: italic;">Welcome back, {{username}}!!</span></p>
    <p class="text-center text-muted">Quickly jot down your thoughts and let AI help you organize and save them.</p>

    <div class="mb-3">
      <label class="form-label">Your Notes (max 2500 characters)</label>
      <div class="d-flex mb-2">
        <button class="btn btn-custom-gradient" (click)="saveNote()">Save</button>
      </div>
      <textarea class="form-control" contenteditable="true" [(ngModel)]="note" (input)="checkLength()"
        placeholder="Type your notes here..."></textarea>
      <div class="text-muted text-end mt-1">{{ charCount }} / {{ maxChars }}</div>
    </div>

    <button class="btn btn-custom-gradient w-100 mb-4" (click)="reorganizeNotes()" [disabled]="isLoading">
      Re-organize with AI
    </button>

    <div *ngIf="isLoading" class="text-center">
      <div class="spinner-border text-primary"></div>
      <p class="mt-2 text-muted">Thinking...</p>
    </div>

    <div *ngIf="reorganizedText" class="card mt-4 p-3">
      <div class="d-flex justify-content-between">
        <h5>Re-organized Notes</h5>
        <button class="btn btn-custom-gradient mb-2" (click)="organizeWithInsights()">Generate Key Insights</button>
        <button class="btn btn-custom-gradient mb-2" (click)="copyText()">{{ copied ? 'Copied!' : 'Copy' }}</button>
      </div>
      <br>
      <div class="formatted-text-output">{{ reorganizedText}}</div>
    </div>
  </div>
</div>